@import "tailwindcss";

@theme {
  --color-primary: #2980B9;
  --color-top-header: #2D344D;
  --color-text: #000;
  --color-section-bg: #F3F3F3;
  --color-section-content: #565353;

  --font-logo: var(--font-montserrat);
  --corner-size: 5px;
}

li {
  list-style-type: none;
}

body {
  font-family: var(--font-roboto);
  color: var(--color-text);
}

/* .container {
  margin-inline: auto;
  padding-inline: 0.75rem;
} */

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.75rem;

  @media(width >=576px) {
    max-width: 540px;
  }

  @media(width >=768px) {
    max-width: 720px;
  }

  @media(width >=992px) {
    max-width: 960px;
  }

  @media(width >=1200px) {
    max-width: 1140px;
  }

  @media(width >=1400px) {
    max-width: 1320px;
  }
}

.swiper-navigation-icon,
.swiper-navigation-icon {
  color: var(--color-primary);
}

.grid-gallery-home {
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    'image-1 image-2 image-3 image-4'
    'image-1 image-6 image-3 image-7'
    'image-5 image-6 image-8 image-8'
  ;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);
  gap: 20px;
}

.image-1 {
  grid-area: image-1;
  overflow: hidden;
}

.image-2 {
  grid-area: image-2;
  overflow: hidden;
}

.image-3 {
  grid-area: image-3;
  overflow: hidden;
}

.image-4 {
  grid-area: image-4;
  overflow: hidden;
}

.image-5 {
  grid-area: image-5;
  overflow: hidden;
}

.image-6 {
  grid-area: image-6;
  overflow: hidden;
}

.image-7 {
  grid-area: image-7;
  overflow: hidden;
}

.image-8 {
  grid-area: image-8;
  overflow: hidden;
}

.img-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.img-main {
  animation: moveUpDown 5s infinite;
}

.img-left {
  animation: leftRight 5s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}